<ul class="d-flex flex-row mx-5 py-5" style="border-bottom: 2px dashed lightgray">
  <li>
    <a id="tab-students" class="admin-tab" href="/admin/students">Students List</a>
  </li>
  <li>
    <a id="tab-enrolment" class="admin-tab" href="/admin/enrolment">Enrolment</a>
  </li>
  <li>
    <a id="tab-forms" class="admin-tab" href="/admin/forms">Forms</a>
  </li>
  <li>
    <a id="tab-calendar" class="admin-tab" href="/admin/calendar">Calendar</a>
  </li>
</ul>
