<div
  class="d-flex flex-row justify-content-between align-items-center mx-5 py-5"
  style="border-bottom: 2px dashed lightgray"
>
  <ul class="d-flex flex-row">
    <li>
      <a id="tab-students" class="admin-tab" href="/admin/students">
        <i class="fa fa-user" style="margin-right: 0.5em"></i>
        Students List
      </a>
    </li>
    <li>
      <a id="tab-enrolment" class="admin-tab" href="/admin/enrolment">
        <i class="fa fa-book" style="margin-right: 0.5em"></i>
        Enrolment
      </a>
    </li>
    <li>
      <a id="tab-forms" class="admin-tab" href="/admin/forms">
        <i class="fa fa-th" style="margin-right: 0.5em"></i>
        Forms
      </a>
    </li>
    <li>
      <a id="tab-calendar" class="admin-tab" href="/admin/calendar">
        <i class="fa fa-calendar" style="margin-right: 0.5em"></i>
        Calendar
      </a>
    </li>
  </ul>

  <button id="logout-btn" class="btn btn-danger" style="height: 35px">
    <i class="fa fa-sign-out" style="margin-right: 0.5em"></i>Logout
  </button>
</div>
