<header>
  <!-- header inner -->
  <div class="header-top">
    <div class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-3 col logo_section">
            <div class="full">
              <div class="center-desk">
                <div class="logo d-flex flex-row align-items-center">
                  <a href="<%= domainName %>/index.html">
                    <img src="<%= domainName %>/images/logo.png" alt="#" height="79" />
                  </a>
                  <span class="school-title"> Zaragosa Elementary School </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-9 col-lg-8 col-md-8 col-sm-9">
            <div class="header_information">
              <div class="menu-area">
                <div class="limit-box">
                  <nav class="main-menu">
                    <ul class="menu-area-main">
                      <li><a href="/">Home</a></li>
                      <li><a href="/about">About Us</a></li>
                      <li><a href="/history">Our History</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End header inner -->
</header>
