<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>

  <!-- body -->
  <body class="main-layout">
    <!-- Header -->
    <%- include('partials/header2.ejs') %>
    <!-- End header -->

    <div class="content w-75 mx-auto" style="margin-top: 5em">
      <div class="titlepage">
        <h2>About<strong class="yellow">&nbsp;Us</strong></h2>
      </div>

      <div class="text-left">
        <ol>
          <li style="list-style-type: upper-alpha; font-weight: 600">
            The Grandeur of Zaragosa , Bacnotan , La Union
            <p>
              There was a place in Bacnotan where deers were abundant. They were known for their impressive horns that
              people started calling the area “sara ti ugsa ” which means horns of the deer” With the passage of time,
              “sara ti ugsa “ became Zaragosa; a name it carries up to this time.
            </p>
            <p class="mt-2">
              Zaragosa is a rural district located at the southern part of the Municipality of Bacnotan, La Union. At
              the north-western part of the barangay lies the Zaragosa-Bussaoit Water Basin. It was a dam built in 1980
              during the administration of the late President Ferdinand E. Marcos
            </p>
            <p class="mt-2">
              The most common type of public transportation in the barangay is tricycle and single motor. Farming is the
              major source of livelihood of the majority of households. Some are engaged in backyard gardening .A few
              are in micro business. Those who were able to finish college are employed either in the government or in
              private offices,others are Overseas Filipino Workers
            </p>
          </li>
          <li class="mt-3" style="list-style-type: upper-alpha; font-weight: 600">
            Cultural Groups
            <p>
              Majority of the residents of Barangay Zaragosa are Ilokanos. Cultural groups are also present like
              Tagalog, Bisaya, Pangasinense , due to intermarriages . Bicol among others are also found in the barangay.
              Iloko is the primary language spoken. English and Filipino are the languages used in government offices
              and in private sectors. English, Filipino and Iloko are the medium of instruction in school.
            </p>
          </li>
          <li class="mt-3" style="list-style-type: upper-alpha; font-weight: 600">
            Natural Resources
            <p>
              Zaragosa has a land area of 141.57 hectares. it is planted to rice and vegetables. The availability of an
              irrigation water system makes it possible for farmers to plant rice twice a year. The residents also
              engage in backyard gardening for home consumption and for an additional income. No one is unemployed in
              the barangay
            </p>
          </li>
          <li class="mt-3" style="list-style-type: upper-alpha; font-weight: 600">
            Promising Barangay
            <p>
              Barangay Zaragosa has a 100% literacy rate. The presence of public elementary school contribute much to
              the high literacy rate. With the support of the LGU, all children of school age from Kindergarten to
              elementary are in school. Projects of the LGU are done. Example Reading Caravan, Idol Ko si Mayor. The
              municipality encourages the youth to participate in activities that promote the mind as well as their
              bodies. Examples are basketball and volleyball competition are held. During summer breaks/vacation the
              Sangguniang Kabataan of the Barangay join in sports and other recreational activities sponsored by the
              municipality. Zaragosa has a barangay hall with a basketball court, childrens playground and recreational
              park. And a small rest hut. People come here to relax and enjoy the scenery. Meetings and barangay fiestas
              are also conducted here.
            </p>
          </li>
          <li class="mt-3" style="list-style-type: upper-alpha; font-weight: 600">
            SCHOOL
            <p>
              Zaragosa Elementary School is a complete public elementary school that offers basic education by
              implementing the K-12 Basic Education Curriculum pursuant to RA 10533. At present, it has a total of 257
              learners including kindergarten. It is spearheded by a school principal and eleven (11) teachers which is
              composed of two ( 2) Master Teacher II, seven (7) Teacher III, one (1) Teacher and one (1) Teacher I who
              are nationally funded
            </p>
          </li>
        </ol>
      </div>
    </div>

    <!--  Footer -->
    <%- include('partials/footer.ejs') %>
    <!-- End footer -->
  </body>
</html>
