<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>

  <body class="main-layout">
    <span>Dashboard</span>

    <%- include('partials/scripts.ejs') %>
    <script src="<%= domainName %>/js/admin.js"></script>
  </body>
</html>
