<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>

  <!-- Body -->
  <body class="main-layout">
    <!-- Header -->
    <%- include('partials/header2.ejs') %>
    <!-- End header -->

    <div class="content w-75 mx-auto" style="margin-top: 5em">
      <div class="titlepage">
        <h2>Our<strong class="yellow">&nbsp;History</strong></h2>
      </div>

      <h2 class="text-center fst-italic" style="font-weight: 600 !important">
        “Every humble institution has its own story to tell. Its history will speak for its very existence.”
      </h2>

      <div class="text-left">
        <p class="mt-3">
          The school was established in 1930 , before the World War II. There were only Grade I and 2. It was located in
          the house of Amilo Almojera. Due to the increased of enrolment, additional 2 classes were added. The school
          was subsequently moved to its present location . In 1943 the school was closed due to the war. The Japanese
          used the school as a garrison or military post. Prisoners and suspected enemies where incarcerated. They were
          tortured and brutally killed. It was believed that many were buried there. When the war was over, the school
          was opened with six(6) classes, making it a complete elementary school. Buildings were erected to replace the
          temporary school rooms. Through the years improvement were done. Enrolment increased and additional teachers
          were assigned.
        </p>

        <p class="mt-3">
          Zaragosa Elementary School is a consistent winner be it academic or non academic in district , division and up
          to the national level. Investigatory Projects in Science won in the Division and Regional Level. The school
          has produced a national winner in the Dr. Juan Salcedo award in Science in 1994 and 1995 in the person of Mrs.
          Anita Almojera. Mrs. Merlene C. Gaona was also awarded as an Outstanding Teacher in the Municipaity in 2016
          and 2017 in the Province of La Union. Remarkable achievements in the past that the good name of the school was
          maintained. Mrs Edna B. Agustin and Mrs. Delia Canave past principals of Zaragosa Elementary School was
          promoted to District Supervisor. At present the school is led by the visionary and Outstanding District
          Principal 2019 in the person of Miss Yazmin Rose B. Agustin. The teachers and the school heads ,past and
          present worked real hard together with its stakeholders to achieve the schools vision and mission.
        </p>

        <p class="mt-3">
          According to Mrs. Edna B. Agustin, retired District Supervisor of Bacnotan and also former School Principal of
          ZES, these were the previous principals in the school. Miss Cirila Nebres, Miss Loreto Cuaresma, Mrs. Delia
          Canave, Mr. Graciano Nebres, Mr. Onofre Salazar, Mrs. Edna B. Agustin, Mrs. Rosemarie D. Pilar, Mr. Marcial N.
          Gaona, also a teacher before he became a school principal, Mrs. Lourdes A. Floria, and at present Miss Yazmin
          Rose B. Agustin, the daughter of Mrs. Edna B. Agustin. And the teachers were Soledad G. Bacungan, Mrs. Angeles
          V. Alminiana, Mrs. Victoria Obillo, Mrs. Rosie Mortero, Miss Lolita Arellano, Mrs. Angelita Espinueva, Miss
          Josie Albero, Mr. Miss Jocelyn Rodriguez, Mrs. Leonora Valin, Miss Elnora Buen, Mrs. Clarina Buen, Miss
          Victoria N. Nebalasca, Mrs. Magdalena Arellano, Mrs. Anita B. Almojera, Miss Ludivina Gaudia, Mrs. Rosalia
          Ragojo. Mr. Eduardo Ragojo, Miss Emiliana Salazar, Miss Patrocenia Valmores, Miss Corazon E. Reyes. Mrs.
          Remedios V. Fontanilla, Mrs. Arceli M. Romero, Some teachers who transferred were Mrs. Glenda Bassig, Mrs.
          Annie R. Bawas. Mrs. Joyce V. Ferera, Mr. Sanny Ancheta. And now the teachers are Mrs. Ethel G. Oreiro, Mrs.
          Ofelia D. Romero, Mes. Editha O. Abat, Mr. Vicente Casicas. Mrs. Merlene C. Gaona, Mrs. Lenny Grace C.
          Delmendo, Mrs. Raquel J. Arellano, Miss Judith A. Arellano, Mrs. Evelyn C. Galvez, Mrs. Wilma M. Gaetos and
          Mr. Julius Cesar D. Buen.
        </p>

        <p class="mt-3">
          Classrooms and seats are adequate in the school. The population as of SY 2021-2022 is 257 learners, 12
          instructional rooms, learner – classroom ratio is 21:1 while learner-seat ratio is 1:1.
        </p>

        <p class="mt-3">
          Wash facilities are adequate as the school has 6 lavatories. Comfort rooms are present in all classrooms.
        </p>
      </div>
    </div>

    <!--  Footer -->
    <%- include('partials/footer.ejs') %>
    <!-- End footer -->
  </body>
</html>
